# Puertos
BACKEND_HOST_PORT=8000
NGINX_HTTP_PORT=8080

# DB
POSTGRES_USER=mango
POSTGRES_PASSWORD=mango
POSTGRES_DB=mango

# Serial (CAMBIA ESTA RUTA)
SERIAL_BY_ID=/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0

# Bridge
BAUDRATE=9600
READ_TIMEOUT_S=1.0
HTTP_TIMEOUT_S=5.0
STATION_NAME=MANGO Station
LOG_LEVEL=INFO
