SECRET_KEY=change-me

DATABASE_URL=postgresql+psycopg2://mango:mango@db:5432/mango
REDIS_URL=redis://redis:6379/0

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

CORS_ORIGINS=*

AUTO_CREATE_DB=1
SEED_DB=1
