Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.5
Flask-CORS==4.0.0
Flask-Login==0.6.3

psycopg2-binary==2.9.9
python-dotenv==1.0.0
alembic==1.12.1
Werkzeug==2.3.8

gunicorn==25.0.1
celery==5.6.2
redis==7.1.0
SQLAlchemy==2.0.46
